# Node/React
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
build/
dist/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
goserver_prod
goserver.log

# OS/Editor
.DS_Store
*.swp
*.swo
*.tmp
*.bak
.idea/
.vscode/
*.iml

# Misc
.env
.env.*
coverage/
__pycache__/
*.pyc
DiscoveryDrawings/